body {
  background-color: #cad5e2;
}
main {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.more-quiz {
  max-width: 40vw;
  max-height: 80vh;
  border: 1px dashed blue;
  margin: 1rem;
}
.more-quiz:hover {
  max-width: 40vw;
  max-height: 70vh;
  transform: translateY(-1vmax);
  box-shadow: 2px 4px 3px 6px #51e1ed;

  transition: all 0.8s;
}
.image--responsive {
  max-width: 38vw;
  border-radius: 1rem;
  /* margin: 1rem; */
  object-fit: cover;
}
.subheading {
  text-align: center;
  color: #12b0e8;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.content {
  text-align: center;
  color: #2827cc;
  font-weight: 700;
  font-size: 1rem;
}
